<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ex03</title>
</head>
<body>
    <h1>상품 데이터 출력 예제 - th:each</h1>
    <table border="1">
        <thead>
            <tr>순번</tr>
            <tr>상품명</tr>
            <tr>상품설명</tr>
            <tr>가격</tr>
            <tr>상품등록일</tr>
        </thead>
        <tbody>
            <tr th:each="itemDto, status:${itemDtoList}">
                <td th:text="${status.index}"></td>
                <td th:text="${itemDto.itemNm}"></td>
                <td th:text="${itemDto.itemDetail}"></td>
                <td th:text="${itemDto.price}"></td>
                <td th:text="${itemDto.regTime}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>